mixin card(title)
    .card.discount
        .discount__percent 15%
        .favorite__cross.icon-menu-cancel
        .card__block
            img.card__img(src=require("../../img/gun.png").default, alt="Ружьё")
        .card__content
            .card__content_title
                .card__content_title_name= title
                .card__content_title_price
                    .first__price ₽ 77 900
                    .discount__price ₽ 34 999
            figure.icon-add
mixin card__widthout(title)
    .card.discount
        .discount__percent 15%
        .favorite__cross.icon-menu-cancel
        .card__block
        .card__content
            .card__content_title
                .card__content_title_name= title
                .card__content_title_price
                    .first__price ₽ 77 900
                    .discount__price ₽ 34 999
            figure.icon-add
mixin card__termos(title)
    .card.discount
        .discount__percent 15%
        .favorite__cross.icon-menu-cancel
        .card__block
            img.card__img(src=require("../../img/termos.jpg").default, alt="Ружьё")
        .card__content
            .card__content_title
                .card__content_title_name= title
                .card__content_title_price
                    .first__price ₽ 77 900
                    .discount__price ₽ 34 999
            figure.icon-add
mixin favorite(title)
    .card.discount.favorite
        .discount__percent 15%
        .favorite__cross.icon-menu-cancel
        .card__block
            img.card__img(src=require("../../img/termos.jpg").default, alt="Ружьё")
        .card__content
            .card__content_title
                .card__content_title_name= title
                .card__content_title_price
                    .first__price ₽ 77 900
                    .discount__price ₽ 34 999
            figure.icon-add
