mixin product(title)
    .product
        .discount__percent 15%
        .favorite__cross.icon-menu-cancel
        .product__block
            img.product__img(src=require("../../img/kto.jpg").default, alt="Продукт")
        .product__content
            .product__content_title
                .product__content_title_name= title
                .product__content_title_price
                    .main__price ₽ 77 900
                    .discount__price ₽ 34 999
            figure.icon-add
mixin product__1(title)
    .product.discount
        .discount__percent 15%
        .favorite__cross.icon-menu-cancel
        .product__block
            img.product__img(src=require("../../img/hidden.jpg").default, alt="Продукт")
        .product__content
            .product__content_title
                .product__content_title_name= title
                .product__content_title_price
                    .main__price ₽ 77 900
                    .discount__price ₽ 34 999
            figure.icon-add
mixin product__2(title)
    .product.discount
        .discount__percent 15%
        .favorite__cross.icon-menu-cancel
        .product__block
            img.product__img(src=require("../../img/spin.jpeg").default, alt="Продукт")
        .product__content
            .product__content_title
                .product__content_title_name= title
                .product__content_title_price
                    .main__price ₽ 77 900
                    .discount__price ₽ 34 999
            figure.icon-add
mixin product__3(title)
    .product.discount
        .discount__percent 15%
        .favorite__cross.icon-menu-cancel
        .product__block
            img.product__img(src=require("../../img/boots.jpg").default, alt="Продукт")
        .product__content
            .product__content_title
                .product__content_title_name= title
                .product__content_title_price
                    .main__price ₽ 77 900
                    .discount__price ₽ 34 999
            figure.icon-add
mixin product__widthout(title)
    .product.discount
        .discount__percent 15%
        .favorite__cross.icon-menu-cancel
        .product__block
        .product__content
            .product__content_title
                .product__content_title_name= title
                .product__content_title_price
                    .main__price ₽ 77 900
                    .discount__price ₽ 34 999
            figure.icon-add
mixin product__termos(title)
    .product.discount
        .discount__percent 15%
        .favorite__cross.icon-menu-cancel
        .product__block
            img.product__img(src=require("../../img/termos.jpg").default, alt="Продукт")
        .product__content
            .product__content_title
                .product__content_title_name= title
                .product__content_title_price
                    .main__price ₽ 77 900
                    .discount__price ₽ 34 999
            figure.icon-add
mixin favorite(title)
    .product.favorite
        .discount__percent 15%
        .favorite__cross.icon-menu-cancel
        .product__block
            img.product__img(src=require("../../img/gun.png").default, alt="Продукт")
        .product__content
            .product__content_title
                .product__content_title_name= title
                .product__content_title_price
                    .main__price ₽ 77 900
                    .discount__price ₽ 34 999
            figure.icon-add
mixin product__item
    .product
        .discount__percent 15%
        .favorite__cross.icon-menu-cancel
        .product__block
            img.product__img(src=require("../../img/gun.png").default, alt="Продукт")