section.contacts
    .wrapper
        .title__page Контакты
        .contacts__text.
            Оружейный магазин Дуплет находится в городе Сыктывкар.
            На сайте нашего магазина Вы можете посмотреть весь ассортимент,
            а также почитать интересные и полезные статьи на тему охоты и рыбалки.
        .contacts__text.
            Ассортимент нашего магазина не ограничивается только оружием,
            Вы также можете приобрести инвентарь для рыбалки и туризма,
            одежду и обувь, боеприпасы и аксессуары.
        .contacts__location
            .location__title Наши магазины находятся по адресам:
            .first__shop
                .location__info
                    .info__title Магазин на Южной
                    .info__block
                        .inner__block
                            .street ул. Южная, 6
                            .payment
                                .payment__cash Наличный расчет
                                .payment__card Оплата по карте
                        .inner__block
                            .phone 8 (8212) 40-00-70
                            .working__time
                                .day
                                    .day__title Пн-Пт
                                    .day__title Сб, Вс
                                .hours
                                    .hours__title 10:00-19:00
                                    .hours__title 10:00-17:00
                .location__slider.swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            img.location__img(src=require("../../img/location.png").default, alt="")
                        .swiper-slide
                            img.location__img(src=require("../../img/bear.png").default, alt="")
                        .swiper-slide
                            img.location__img(src=require("../../img/welcome.png").default, alt="")
                    .swiper-pagination
            .first__shop
                .location__info
                    .info__title Магазин на Гаражной
                    .info__block
                        .inner__block
                            .street ул. Гаражная, 27
                            .payment
                                .payment__cash Наличный расчет
                                .payment__card Оплата по карте
                        .inner__block
                            .phone 8 (8212) 26-40-00
                            .working__time
                                .day
                                    .day__title Пн-Пт
                                    .day__title Сб, Вс
                                .hours
                                    .hours__title 10:00-19:00
                                    .hours__title 10:00-17:00
                .location__slider.swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            img.location__img(src=require("../../img/location.png").default, alt="")
                        .swiper-slide
                            img.location__img(src=require("../../img/bear.png").default, alt="")
                        .swiper-slide
                            img.location__img(src=require("../../img/welcome.png").default, alt="")
                    .swiper-pagination




