.slider-test
    .wrapper
        .test
            .swiper-container.gallery-top
                .swiper-wrapper
                    .swiper-slide
                        img(src=require("../../img/ammo.png").default, alt="")
                    .swiper-slide
                        img(src=require("../../img/bait.png").default, alt="")
                    .swiper-slide
                        img(src=require("../../img/bear.png").default, alt="")
                    .swiper-slide
                        img(src=require("../../img/blue-tent.png").default, alt="")
                    .swiper-slide
                        img(src=require("../../img/blue-tent.png").default, alt="")
                // Add Arrows
                .swiper-button-next.swiper-button-white
                .swiper-button-prev.swiper-button-white
            .swiper-container.gallery-thumbs
                .swiper-wrapper
                    .swiper-slide
                        img(src=require("../../img/ammo.png").default, alt="")
                    .swiper-slide
                        img(src=require("../../img/bait.png").default, alt="")
                    .swiper-slide
                        img(src=require("../../img/bear.png").default, alt="")
                    .swiper-slide
                        img(src=require("../../img/blue-tent.png").default, alt="")
                    .swiper-slide
                        img(src=require("../../img/blue-tent.png").default, alt="")