section.news
    .wrapper
        .title__page Новости
        .news__block
            .img__item
                img.img__news(src=require("../../img/bear.png").default, alt="")
            .news__block_instruction
                .news__title Что делать при встрече с медведем?
                .news__text.
                    Встречи с медведем лучше избегать.
                    Если же встреча всё же состоялась, то будет полезным знать 
                    несколько несложных правил, способных сохранить ваше здоровье 
                    и жизнь. Посмотрите ответ на этот вопрос в нашем новом видео.
                .news__card_read
                    a.btn(href="#")
                        span.btn__name Читать
                    span.news__data
                        figure.icon-data
                        .news__data_title 30.09.2020
        .news__cards
            .news__card
                .img__item
                    img.img__news(src=require("../../img/news-item.png").default, alt="")
                .news__title Что делать при встрече с медведем?
                .news__text.
                    Встречи с медведем лучше избегать.
                    Если же встреча всё же состоялась, то будет полезным знать 
                    несколько несложных правил, способных сохранить ваше здоровье 
                    и жизнь. Посмотрите ответ на этот вопрос в нашем новом видео.
                .news__card_read
                    a.btn(href="#")
                        span.btn__name Читать
                    span.news__data
                        figure.icon-data
                        .news__data_title 30.09.2020
            .news__card
                .img__item
                    img.img__news(src=require("../../img/welcome.png").default, alt="")
                .news__title Что делать при встрече с медведем?
                .news__text.
                    Встречи с медведем лучше избегать.
                    Если же встреча всё же состоялась, то будет полезным знать 
                    несколько несложных правил, способных сохранить ваше здоровье 
                    и жизнь. Посмотрите ответ на этот вопрос в нашем новом видео.
                .news__card_read
                    a.btn(href="#")
                        span.btn__name Читать
                    span.news__data
                        figure.icon-data
                        .news__data_title 30.09.2020
            .news__card
                .img__item
                    img.img__news(src=require("../../img/guns.png").default, alt="")
                .news__title Что делать при встрече с медведем?
                .news__text.
                    Встречи с медведем лучше избегать.
                    Если же встреча всё же состоялась, то будет полезным знать 
                    несколько несложных правил, способных сохранить ваше здоровье 
                    и жизнь. Посмотрите ответ на этот вопрос в нашем новом видео.
                .news__card_read
                    a.btn(href="#")
                        span.btn__name Читать
                    span.news__data
                        figure.icon-data
                        .news__data_title 30.09.2020
            .news__card
                .img__item
                    img.img__news(src=require("../../img/ammo.png").default, alt="")
                .news__title Что делать при встрече с медведем?
                .news__text.
                    Встречи с медведем лучше избегать.
                    Если же встреча всё же состоялась, то будет полезным знать 
                    несколько несложных правил, способных сохранить ваше здоровье 
                    и жизнь. Посмотрите ответ на этот вопрос в нашем новом видео.
                .news__card_read
                    a.btn(href="#")
                        span.btn__name Читать
                    span.news__data
                        figure.icon-data
                        .news__data_title 30.09.2020
            .news__card
                .img__item
                    img.img__news(src=require("../../img/location.png").default, alt="")
                .news__title Что делать при встрече с медведем?
                .news__text.
                    Встречи с медведем лучше избегать.
                    Если же встреча всё же состоялась, то будет полезным знать 
                    несколько несложных правил, способных сохранить ваше здоровье 
                    и жизнь. Посмотрите ответ на этот вопрос в нашем новом видео.
                .news__card_read
                    a.btn(href="#")
                        span.btn__name Читать
                    span.news__data
                        figure.icon-data
                        .news__data_title 30.09.2020
            .news__card
                .img__item
                    img.img__news(src=require("../../img/bear.png").default, alt="")
                .news__title Что делать при встрече с медведем?
                .news__text.
                    Встречи с медведем лучше избегать.
                    Если же встреча всё же состоялась, то будет полезным знать 
                    несколько несложных правил, способных сохранить ваше здоровье 
                    и жизнь. Посмотрите ответ на этот вопрос в нашем новом видео.
                .news__card_read
                    a.btn(href="#")
                        span.btn__name Читать
                    span.news__data
                        figure.icon-data
                        .news__data_title 30.09.2020