section.news
    .wrapper
        .news__title Новости
        .news__block
            .img__item
                img.img__news(src=require("../../img/bear.png").default, alt="")
            .news__block_instruction
                .news__block_instruction_flex
                    .instruction__title Что делать при встрече с медведем?
                    .instruction__text.
                        Встречи с медведем лучше избегать.
                        Если же встреча всё же состоялась, то будет полезным знать 
                        несколько несложных правил, способных сохранить ваше здоровье 
                        и жизнь. Посмотрите ответ на этот вопрос в нашем новом видео.
                    a.news__link(href="#")
                        span.news__link_title Читать
        .news__cards
            .news__card
                .img__item
                    img.img__news(src=require("../../img/news-item.png").default, alt="")
                .news__card_title Поздравляем с открытием сезона охоты Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nam a iusto cupiditate animi impedit dolor nisi voluptatem ullam obcaecati eligendi ut non corporis, vel vitae provident facilis? Nihil optio, assumenda corrupti obcaecati natus dicta facere dolores consequuntur debitis culpa explicabo velit amet. Labore officia at laboriosam omnis quis praesentium.
                .news__card_read
                    a.news__link(href="#")
                        span.news__link_title Читать
                    span.news__data 30.09.2020
            .news__card
                .img__item
                    img.img__news(src=require("../../img/welcome.png").default, alt="")
                .news__card_title Поздравляем с открытием сезона охоты Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nam a iusto cupiditate animi impedit dolor nisi voluptatem ullam obcaecati eligendi ut non corporis, vel vitae provident facilis? Nihil optio, assumenda corrupti obcaecati natus dicta facere dolores consequuntur debitis culpa explicabo velit amet. Labore officia at laboriosam omnis quis praesentium.
                .news__card_read
                    a.news__link(href="#")
                        span.news__link_title Читать
                    span.news__data 30.09.2020
            .news__card
                .img__item
                    img.img__news(src=require("../../img/guns.png").default, alt="")
                .news__card_title Поздравляем с открытием сезона охоты Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nam a iusto cupiditate animi impedit dolor nisi voluptatem ullam obcaecati eligendi ut non corporis, vel vitae provident facilis? Nihil optio, assumenda corrupti obcaecati natus dicta facere dolores consequuntur debitis culpa explicabo velit amet. Labore officia at laboriosam omnis quis praesentium.
                .news__card_read
                    a.news__link(href="#")
                        span.news__link_title Читать
                    span.news__data 30.09.2020
            .news__card
                .img__item
                    img.img__news(src=require("../../img/ammo.png").default, alt="")
                .news__card_title Поздравляем с открытием сезона охоты Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nam a iusto cupiditate animi impedit dolor nisi voluptatem ullam obcaecati eligendi ut non corporis, vel vitae provident facilis? Nihil optio, assumenda corrupti obcaecati natus dicta facere dolores consequuntur debitis culpa explicabo velit amet. Labore officia at laboriosam omnis quis praesentium.
                .news__card_read
                    a.news__link(href="#")
                        span.news__link_title Читать
                    span.news__data 30.09.2020
            .news__card
                .img__item
                    img.img__news(src=require("../../img/location.png").default, alt="")
                .news__card_title Поздравляем с открытием сезона охоты Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nam a iusto cupiditate animi impedit dolor nisi voluptatem ullam obcaecati eligendi ut non corporis, vel vitae provident facilis? Nihil optio, assumenda corrupti obcaecati natus dicta facere dolores consequuntur debitis culpa explicabo velit amet. Labore officia at laboriosam omnis quis praesentium.
                .news__card_read
                    a.news__link(href="#")
                        span.news__link_title Читать
                    span.news__data 30.09.2020
            .news__card
                .img__item
                    img.img__news(src=require("../../img/bear.png").default, alt="")
                .news__card_title Поздравляем с открытием сезона охоты Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nam a iusto cupiditate animi impedit dolor nisi voluptatem ullam obcaecati eligendi ut non corporis, vel vitae provident facilis? Nihil optio, assumenda corrupti obcaecati natus dicta facere dolores consequuntur debitis culpa explicabo velit amet. Labore officia at laboriosam omnis quis praesentium.
                .news__card_read
                    a.news__link(href="#")
                        span.news__link_title Читать
                    span.news__data 30.09.2020